table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
  background-color: white;
  font-weight: 700;
}

#load{
    /* background-image: url("load.gif");
background-size: contain; */
width: 600px;
height: 400px;
    position: relative;
    left: 300px;
    top: 100px;
}

#spin{
    font-size: 20px;
    position:relative; 
    left: 90px;
    top: 40px;

}

#loadimg{
    background-image: url("load.gif");
    background-size: contain;
    width: 600px;
    height: 400px;
}