body {
  height: 1500px;
  background-color: rgb(184, 254, 247);
  background-size: cover;
}

#bodytext {
  font-family: " Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: rgb(5, 104, 244);
  margin-top: 10px;
  margin-left: 160px;
  margin-right: 40px;
  width: 900px;
}

#cotation {
  position: relative;
  left: 300px;
  bottom: 20px;
  font-size: 30px;
  color: rgb(248, 23, 210);
}

#comname {
  font-size: 40px;
}

#author {
  position: relative;
  bottom: 15px;
  left: 800px;
  font-weight: bold;
  font-size: 20px;
}

.why {
  position: relative;
  top: 150px;
  left: 170px;
  width: 900px;
}

.admin {
  position: relative;
  top: 200px;
  left: 100px;
}
