body {
  height: 1500px;
  background-color:  rgb(22 0 255);
  background-size: cover;
}


#bodytext {
  font-family: " Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: rgb(252, 250, 249);
  margin-top: 10px;
  margin-left: 160px;
  margin-right: 40px;
  width: 900px;
}

#cotation {
  position: relative;
  left: 300px;
  bottom: 20px;
  font-size: 30px;
  color: yellow;
}

#comname {
  font-size: 40px;
}



#author{
  position: relative;
bottom: 40px;
  left: 800px;
  font-weight: bold;
}

.why{
  position: relative;
  top: 150px;
  left: 170px;
  width: 900px;
}

.admin{
  position: relative;
  top: 200px;
  left: 100px;
}
