.mark {
    background-color: red;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    height: 30px;
    width: 900px;
    position: relative;
    top: 10px;
    left: 178px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .form {
    background: linear-gradient(red, yellow);
    border: 2px solid red;
    border-radius: 3px;
    position: relative;
    top: 10px;
    left: 175px;
    width: 900px;
    height: 450px;
  }

  
  .box {
    position: relative;
    left: 50px;
    bottom: 80px;
    width: 800px;
  }
  
  .img {
    width: 400px;
    height: 375px;
    border: 1px solid orange;
    border-radius: 5px;
    background-image: url("pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    top: 30px;
    right: 50px;
  }
  
  .inp {
    width: 330px;
    height: 28px;
    border: 1px solid navy;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    color: navy;
  }
  
  .text {
    font-weight: 400;
    font-size: 18px;
  }
  
  #heading {
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-decoration: underline;
    margin-left: 40px;
    position: relative;
    top: 50px;
  }
  .btnx{
    margin-left: 50px;
    width: 150px;
    height:30px;
    background-color: navy;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .btnx {
  
  }
  
  .btnx:hover {
    background-color: rgb(245, 243, 244);
    color: rgb(250, 22, 6);
    border: 1px solid rgb(251, 53, 4);
  }
  
  #domain {
    margin-left: 30px;
    border: 1px solid crimson;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(62, 220, 241);
  }
  
  .option {
    font-size: 20px;
    color: crimson;
    font-weight: 400;
  }