.ele{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    top: 15px;
    left: 100px;   
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-decoration: initial;
    color: rgb(254, 1, 1);
}

.ele:hover{

    color: red;

}
#logo{
    background-image: url('logo.png');
    background-size: cover;
    width: 200px;
    height: 72px;
    display: inline-block;
    float: left;
    position: relative;
    left: 5px;
    
  }

.nav{
    background-color:  #14f22a;
    height: 75px;
    width: 1579px;
}

